<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="ApplicationLog" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                %d{yyyy-MM-dd HH:mm:ss} %-5level %logger{36} - %msg%n
            </Pattern>
        </layout>
    </appender>

    <logger name="nl.demo.kafka" level="debug" additivity="false">
        <appender-ref ref="ApplicationLog" />
    </logger>

    <root level="ERROR">
        <appender-ref ref="ApplicationLog" />
    </root>

    <logger name="nl.demo.kafka" level="WARN"/>
    <logger name="nl.demo.kafka.logging" level="INFO"/>
    <logger name="nl.demo.kafka.service" level="INFO"/>

    <logger name="org.apache.kafka.clients.producer" level="WARN"/>

</configuration>