<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Accounts</title>

    <script src="/socket.io/socket.io.js"></script>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var socket = io();
            var cache = {};
            var accountsList = document.getElementById('accounts');
            var scrollThrottle;

            socket.on('account', function(msg){
                if (cache.hasOwnProperty(msg)) {
                    console.log(`Duplicate message "${msg}"`, ++cache[msg]);
                    return;
                }

                cache[msg] = 0;
                var account = document.createElement('li');
                account.innerText = msg;
                accountsList.append(account);

                scrollThrottle = setTimeout(function() {
                    clearTimeout(scrollThrottle);
                    window.scrollTo({
                        top: account.offsetTop + account.offsetHeight,
                        behavior: 'smooth',
                    })


                }, 200);
            });
        });
    </script>

</head>
<body>
    <h1>Accounts</h1>

    <ol id="accounts"></ol>
</body>
</html>